
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Aturan untuk Secret Box
    match /secret_box/{questionId} {
      allow read, create, update, delete: if request.auth != null;
    }

    // Aturan untuk Wishlist Dates
    match /wishlist_dates/{wishlistId} {
      allow read, create, update, delete: if request.auth != null;
    }
    
    // Aturan untuk Peta Bintang (Memories)
    match /memories/{memoryId} {
        allow read, create, update, delete: if request.auth != null;
    }

    // Aturan untuk Tic-Tac-Toe
    match /tic_tac_toe_games/{gameId} {
      allow read, create, update, delete: if request.auth != null;
    }
    
    // Aturan untuk Tebak Gambar
    match /tebak_gambar_games/{gameId} {
      allow read, create, update, delete: if request.auth != null;
    }

    // Aturan default yang lebih aman untuk koleksi lain
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
