
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check if a user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // Rules for Secret Box
    match /secret_box/{questionId} {
      allow read, write: if isAuthenticated();
    }

    // Rules for Wishlist Dates
    match /wishlist_dates/{wishlistId} {
      allow read, write: if isAuthenticated();
    }
    
    // Rules for Memories (Peta Bintang)
    match /memories/{memoryId} {
        allow read, write: if isAuthenticated();
    }

    // Rules for Tic-Tac-Toe Game
    match /tic_tac_toe_games/{gameId} {
      allow read, write: if isAuthenticated();
    }

    // Rules for Pictionary Game (Tebak Gambar)
    match /tebak_gambar_games/{gameId} {
        allow read, write: if isAuthenticated();
    }
  }
}

    