rules_version = '2';

// PERINGATAN: Aturan ini bersifat publik dan hanya untuk pengembangan.
// Seharusnya diperketat sebelum rilis produksi.
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Mengizinkan siapa saja untuk membaca dan menulis file.
      // Ini akan menyelesaikan masalah izin upload.
      allow read, write;
    }
  }
}
